<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_12-of-12">
            <img src={selectedVarainat.selectedimage} />
        </div>
        <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center">
          <div class="slds-text-heading_large"><strong>{selectedVarainat.fuelConsumption}</strong></div>
          <div class="slds-text-heading_medium"><strong>Fuel Consumption (liters/100Km)<sup>D32</sup></strong></div>
        </div>
        <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center">
            <div class="slds-text-heading_large"><strong>{selectedVarainat.seatingCapacity}</strong></div>
            <div class="slds-text-heading_medium"><strong>Seating Capacity</strong></div>
          </div>
          <div class="slds-col slds-size_12-of-12 slds-large-size_4-of-12 slds-text-align_center">
            <div class="slds-text-heading_large"><strong>{selectedVarainat.alloywheels}</strong></div>
            <div class="slds-text-heading_medium"><strong>Alloy Wheels</strong></div>
          </div>
    </div>
    
</template>